  // general styling
  body,
  html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  * {
    box-sizing: border-box;
  }

  img,
  video {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  // resetting styling on buttons
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  // resetting lists
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  // variables
  :root {
    // colors
    --c-yellow: RGB(var(--rgb-yellow));
    --c-pink: RGB(var(--rgb-pink));
    --c-black: RGB(var(--rgb-black));
    --c-white: RGB(var(--rgb-white));
    --c-blue: RGB(var(--rgb-blue));

    --rgb-yellow: 244, 226, 128;
    --rgb-pink: 249, 193, 193;
    --rgb-black: 53, 53, 53;
    --rgb-white: 255, 255, 255;
    --rgb-blue: 155, 216, 201;

    // spacing
    --space: 20px;
    --maxwidth: 1000px;

    // font
    --f-titles: 3rem;
    --f-subtitles: 1.15rem;


    font-size: 14px;

    @media (min-width: 640px) {
      font-size: 16px;
    }
  }

  // flexbox and columns for flex
  .flex {
    display: flex;
  }

  @mixin flex-cols {
    @for $i from 1 through 12 {
      .flex-#{$i} {
        flex: $i;
      }
    }
  }

  @include flex-cols;

  // create max-width wrapper that is used in inner-most elements

  .wrapper {
    position: relative;
    max-width: 1000px;
    max-width: var(--maxwidth);
    margin: 0 auto;
    padding: 20px;
    padding: var(--space);

    @media (min-width: 640px) {
      transform-style: preserve-3d;
    }
  }

  // header styling

  header {
    background: rgb(244, 226, 128);
    background: var(--c-yellow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  nav {
    height: 90px;
  }


  .menu {
    font-size: 1.15em;
    font-weight: 700;
    align-self: center;
    justify-content: space-around;

    a {
      color: rgb(255, 255, 255);
      color: var(--c-white);
      text-decoration: none;
    }

    li {
      transition: transform 0.2s;

      &:hover,
      &.active {
        transform: scale(1.2);
        text-shadow: 0 0 10px rgba(249, 193, 193, 1);
        text-shadow: 0 0 10px RGBA(var(--rgb-pink), 1);
      }
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  .logo {
    height: 100%;
    width: initial;
  }

  // footer styling

  footer {
    background: rgb(249, 193, 193);
    background: var(--c-pink);
    padding-top: 1rem;
    height: 144px;
    width: 100%;
    z-index: 99;

    .flex {
      justify-content: center;
    }
  }

  // Parallax attempt with JS
  .parallax {
    margin-top: 90px;
    position: relative;
    height: calc(100vh - 90px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .parallax_group {
    position: relative;
    top: -20px;
    top: calc(-1 * var(--space));
    width: 100vw;
    margin: 0 auto;

    @media (max-width: 639px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 640px) {
      height: 90vh;
      width: 70%;
    }
  }

  @media (min-width: 640px) {
    .parallax_container {
      height: 100vh;
      overflow: hidden;
      margin-top: -90px;
    }
  }

  .hero {
    display: none;
    position: absolute;
    width: 100%;

    @media (min-width: 640px) {
      display: block;
    }
  }

  .hero-bg {
    position: relative;
    width: 100%;

    @media (min-width: 640px) {
      display: none;
    }
  }

  ._lights {
    z-index: 18;
  }

  ._seats {
    transform: scale(0.9);
    z-index: 19;
  }

  ._bar {
    transform: scale(1.10);
    z-index: 15;
  }

  ._title {
    text-align: center;
    z-index: 12;

    img {
      width: 50%;
      display: initial;
    }
  }

  ._wall {
    transform: translateX(-50%);
    margin-left: 50%;
    width: 100vw;
    height: 76%;
    background: url('resources/polkadot.svg');
    background-size: 1.1rem;
    opacity: 0.4;
  }

  // for burger-menu and other mobile-only elements

  .mobile-only {
    @media (min-width: 640px) {
      display: none;
    }
  }

  // for all sections in main, below hero

  section {
    margin-top: 10rem;
    margin-bottom: 10rem;
    position: relative;

    @media (min-width: 640px) {
      margin-left: 60px;
      margin-right: 60px;
    }

    &.fotos {
      margin-top: 20rem;
      margin-bottom: 15rem;
    }
  }

  .anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -50px;

    &#team {
      top: 0;
    }

    &#moreinfo {
      top: -110px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-size: var(--f-titles);
  }

  .framed-box {
    position: relative;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(53, 53, 53);
    border: 1px solid var(--c-black);
    padding: 2rem 2rem 1rem 2.5rem;

    h2 {
      position: absolute;
      transform: translateY(-90%);
      // white-space: nowrap;
      left: 3%;
      margin: 0;
      background: rgb(155, 216, 201);
      background: var(--c-blue);
      width: 94%;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 100;


      @media (min-width: 640px) {
        font-size: 3rem;
      font-size: var(--f-titles);
      transform: translateY(-110%);
        left: 10%;
        max-width: 80%;
      }
    }
  }

  .dotted-bg {
    position: relative;
    flex-direction: column;

    @media (min-width:900px) {
      flex-direction: row;
    }
  }

  .dotted-box {
    position: absolute;
    background: url('resources/polkadot.svg');
    background-size: 1.1rem;
    background-attachment: fixed;
    display: block;
    content: '';
    z-index: -1;
    top: -8%;
    width: 80%;
    height: 120%;

    @media (min-width: 640px) {
      top: -20%;
      height: 160%;
    }
  }

  .dotted-bg.left .dotted-box {
    left: 0;
    margin-left: -6%;

    @media (min-width: 640px) {
      margin-left: -20%;
    }
  }

  .dotted-bg.right .dotted-box {
    right: 0;
    margin-right: -6%;

    @media (min-width: 640px) {
      margin-right: -10%;
    }
  }

  .info {
    background: RGBA(249, 193, 193, 0.8);
    background: RGBA(var(--rgb-pink), 0.8);
    padding: 20px;
    padding: var(--space);
    overflow-y: auto;

    h2 {
      margin: 0;
    }
  }

  .main-image {
    width: 100%;
    min-height: 150px;
    position: relative;
    cursor: pointer;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // team flexible grid

  .team-flex {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
  }

  .full-width {
    width: 100%;
    text-align: center;
  }

  .team_portrait {
    text-align: center;
    flex-basis: calc(100% / 2);
    padding: 10px;
    position: relative;

    .img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      transition: 0.25s cubic-bezier(0, 0.68, 0.11, 1.42);
      transform: scale(1.05);
    }

    &:hover img {
      transform: scale(1.25) rotate(5deg);
    }

    &.yellow p {
      background: RGBA(244, 226, 128, 0.8);
      background: RGBA(var(--rgb-yellow), 0.8);
    }

    &.blue p {
      background: RGBA(155, 216, 201, 0.8);
      background: RGBA(var(--rgb-blue), 0.8);
    }

    &.pink p {
      background: RGBA(249, 193, 193, 0.8);
      background: RGBA(var(--rgb-pink), 0.8);
    }

    @media (min-width: 640px) {
      flex-basis: calc(100% / 4);
    }

    p {
      position: absolute;
      display: block;
      width: calc(100% - 20px);
      z-index: 15;
      bottom: 10px;
      padding: 0.5rem 0;
      margin: 0;
    }
  }

  .dot-wrapper,
  .arrow {
    position: absolute;
    z-index: 20;
  }

  .arrow {
    bottom: 40%;
    padding: 1rem;
    transition: transform 0.2s;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      transform: scale(1.3);
      opacity: 0.8;
    }

    &:focus {
      outline: none;
    }

    svg {
      transform: scale(2);
      stroke: rgb(255, 255, 255);
      stroke: var(--c-white);
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .dot-wrapper {
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
  }

  .dot {
    margin: 1rem 0.5rem;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: var(--c-white);
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;

    &.active,
    &:hover {
      outline: none;
      opacity: 0.8;
      transform: scale(1.1);
    }
  }

  // fade effect on slideshow/images
  .new-photo {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .new-photo.fadeout {
    opacity: 0;
  }

  .new-photo {
    position: relative;
    z-index: 10;
  }

  .old-photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  //lightbox

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(53, 53, 53, 0.7);
    background: RGBA(var(--rgb-black), 0.7);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  .lightbox.hidden {
    opacity: 0;
  }

  .image-wrapper {
    position: relative;
  }

  .lightbox-image {
    position: relative;
    max-height: 90vh;
    width: initial;
    object-fit: contain;
    box-shadow: 0 0 10px rgb(53, 53, 53);
    box-shadow: 0 0 10px var(--c-black);
  }

  .lightbox-close {
    position: absolute;
    background: RGBA(155, 216, 201, 0.8);
    background: RGBA(var(--rgb-blue), 0.8);
    border-radius: 100%;
    width: 2rem;
    right: -1rem;
    top: -1rem;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.9);
    }

    &:focus {
      outline: none;
    }
  }

  strong {
    display: block;
    margin: 1.5em 0 -0.5em ;
  }